* {
    box-sizing: border-box;
}

body {
    background: rgb(221 238 252);
    margin-top: 80px;
}

/*FULL CONTAINER*/

.card-item {
    max-width:430px;
    height:270px;
    margin:auto;
    position:relative;
}

.card-item__side {
    height:100%;
    width: 100%;
    border:solid 1px black; /*View the border of the credit card*/
}

.front {
    padding: 25px 15px;
}

.card-item__top {
    display:flex;
    align-items:flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 10px;
}
.card-item__chip {
    width:60px;
}

.card-item__number {
    display:flex;
    justify-content:space-between;
    padding: 10px 15px;
    margin-bottom: 35px;
}

.card-item__content {
    display:flex;
    justify-content:space-between;
    padding:0 15px;
}